<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g.forgetmenot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo_flower_01"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeechTakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeFailure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeechPutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeechPutIsIt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinallyYesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InventoryList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakenOutSuccess"
            android:screenOrientation="portrait" />
        <activity android:name=".ScoreActivity"></activity>
    </application>

</manifest>